@import '@uik/_vars.scss';

.dropzone {
  border: 2px dashed $blue;
  border-image: none;
  min-height: 200px;
}

.drag-active {
  border: 3px dashed $green;
}

.message {
  font-size: 1em;
  margin: 5em 0;
  text-align: center;
}
